<!DOCTYPE html>
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "export_pdf" %>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
